@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Enter a web site</h1>
    <p class="lead">Check your site for colorblind accessibility.</p>
    <form action="/analyze" method="get" class="form-inline">
        <div class="form-group">
            <input type="text" name="url" value="https://www.godaddy.com" />
        </div>
        <button type="submit" class="btn btn-primary">Run Test</button>
    </form>
</div>
