@using ColorBlinder.Models;

@model AnalyzeViewModel

@{
  ViewBag.Title = "title";
}

<h2>ORIGINAL:</h2>
<img src="@Model.OriginalImagePath" alt="From Image"/>

<h2>FILTERED ONE:</h2>
<img src="@Model.FilterImagePath" alt="To Image"/>

