@using ColorBlinder.Models;

@model AnalyzeViewModel

@{
  ViewBag.Title = "title";
}

<h2>@Model.OriginalImagePath</h2>
<h2>@Model.FilterImagePath</h2>

<img src="@Model.OriginalImagePath" alt="From Image"/>
<img src="@Model.FilterImagePath" alt="To Image"/>

