@using ColorBlinder.Models;

@model AnalyzeViewModel

@{
  ViewBag.Title = "title";
}

<style type="text/css">
  .table {
    display: table;
    margin-top: 20px
  }

  .left {
    width: 50%;
    display: table-cell;
    float: left;
  }
</style>

<input type="hidden" id="all" value="@Model.AllFilterImagePaths">

<div class="table">
  <div>
    <img class="left" style="padding-top: 40px" id="original" src="@Model.OriginalImagePath" alt="Original Image" />
  </div>
  
  <div style="text-align: center">
    <select id="filtertype" onchange='update("filtertype");'>
      <option selected value="Achromatomaly">Achromatomaly</option>
      <option value="Protanopia">Protanopia</option>
      <option value="Protanomaly">Protanomaly</option>
      <option value="Deuteranopia">Deuteranopia</option>
      <option value="Deuteranomaly">Deuteranomaly</option>
      <option value="Tritanopia">Tritanopia</option>
      <option value="Tritanomaly">Tritanomaly</option>
      <option value="Achromatopsia">Achromatopsia</option>
    </select>
        
    <img class="left" style="padding-top:20px" id="filter-image" src="@Model.FilterImagePath" alt="Filtered Image"/>
  </div>
</div>

<script type="text/javascript">
  function update(filtertype) {
    var ddl = document.getElementById(filtertype);
    var selectedValue = ddl.options[ddl.selectedIndex].value;

    var allImagePaths = document.getElementById("all").value;
    var entries = allImagePaths.split("|");

    for (var i = 0; i < entries.length; i++) {
      var subentries = entries[i].split("=");
      if (subentries.length > 0 && subentries[0] === selectedValue) {
        document.getElementById("filter-image").src = subentries[1];
        break;
      }
    }
  }
</script>